@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Monoton&family=Montserrat:wght@300;400&family=Quicksand:wght@300;400;600;800&family=Roboto:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.container h1#load {
    color: #fff;
    text-transform: capitalize;
    font-family: 'Cinzel', sans-serif;
    font-size: 5em;
    font-weight: 600;
}